[class^="c-btn"] {
  align-items: center;
  background-color: $color-primary;
  border: $border-width-thin solid $color-primary;
  border-radius: $border-radius-medium;
  color: $color-white;
  cursor: pointer;
  display: flex;
  font-family: $font-family;
  font-size: $font-size-text-x-large;
  font-weight: $font-weight-bold;
  justify-content: center;
  line-height: $line-height-text;
  padding: $spacing-x-small $spacing-large;
  transition: all $duration-promptly ease-in-out;

  &:hover {
    background-color: $color-primary-hover;
    border-color: $color-primary-hover;
  }

  &:disabled {
    background-color: $color-accent;
    border-color: $color-accent;
    color: $color-white;
    cursor: not-allowed;

    &:hover {
      background-color: $color-accent;
      border-color: $color-accent;
    }
  }

  .c-icon {
    margin-left: -.3rem;
    margin-right: $spacing-small;

    polygon,
    path {
      fill: $color-white;
    }
  }
}

.c-btn--small {
  font-size: $font-size-text-medium;
  padding: $spacing-x-small $spacing-medium;
}

.c-btn--medium {
  font-size: $font-size-text-large;
  padding: $spacing-x-small $spacing-medium;
}

.c-btn--secondary {
  background-color: $color-secondary;
  border-color: $color-secondary;

  &:hover {
    background-color: $color-secondary-hover;
    border-color: $color-secondary-hover;
  }
}

.c-btn--black {
  background-color: $color-black;
  border-color: $color-black;

  &:hover {
    background-color: $color-black;
    border-color: $color-black;
  }
}

.c-btn--outline {
  background-color: $color-white;
  border-color: $color-accent;
  color: $color-accent;

  .c-icon {
    polygon,
    path {
      fill: $color-accent;
    }
  }

  &:hover {
    background-color: $color-background;
    border-color: $color-accent;
    color: $color-accent-hover;
  }
}

.c-btn--danger {
  background-color: $color-error;
  border-color: $color-error;

  &:hover {
    background-color: $color-error-hover;
    border-color: $color-error-hover;
  }
}

.c-btn--text {
  background: none;
  border: 0;
  color: $color-primary;
  font-size: $font-size-text-medium;
  padding: 0;

  &:hover {
    background: none;
    color: $color-black;
  }
}
