[class^="c-message"] {
  align-content: center;
  color: $color-black;
  display: flex;

  svg {
    margin-right: $spacing-xx-small;
    transform: scale(.8);
  }
}

.c-message--error {
  color: $color-error;

  path,
  polygon {
    fill: $color-error;
  }
}

.c-message--success {
  color: $color-success;

  path,
  polygon {
    fill: $color-success;
  }
}
