[class^="c-flash--"] {
  align-items: center;
  background-color: $color-background;
  box-shadow: $shadow-subtle;
  display: flex;
  margin: $spacing-small 0;
  padding: $spacing-x-small $spacing-small;
  width: 100%;

  &:hover .c-flash__close {
    polygon {
      fill: $color-white;
    }
  }
}

.c-flash--success {
  background-color: $color-success;
  color: $color-white;
}

.c-flash--error {
  background-color: $color-error;
  color: $color-white;
}

.c-flash__message {
  flex-grow: 2;
}

.c-flash__icon {
  flex-shrink: 1;
  margin-right: $spacing-x-small;

  path,
  polygon {
    fill: $color-white;
  }
}

.c-flash__close {
  cursor: pointer;
  flex-shrink: 1;

  polygon {
    fill: $color-accent;
  }
}
