{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "arrow-body-style": 0,
    "func-names": ["error", "never"],
    "sort-keys": ["error", "asc", { "caseSensitive": true, "natural": false }],
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "every": ["nesting", "id"]
        },
        "allowChildren": true
      }
    ]
  }
}
