# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# testing
/coverage
/cypress/videos
/videos
/downloads

# production
/build
/dist

# misc
.DS_Store
.env
.env.auth
.env.local
.env.development.local
.env.test.local
.env.production.local
/src/react-app-env.d.ts
.eslintcache
src/icons/heroicons
/.cache
.idea
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tool-versions

# vercel
.vercel

# infrastructure
/infrastructure/terraform/**/.terraform
/infrastructure/auth/deployment
