{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-styled-components"
  ],
  "plugins": [
    "stylelint-prettier"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "prettier/prettier": true
  }
}
