[class^="c-label-value"] {
  display: flex;
  flex-flow: column;
  margin: 0;
}

.c-label-value--reverse {
  flex-flow: column-reverse;
}

.c-label-value__label {
  color: $color-black-secondary;
  font-size: $font-size-heading-xx-small;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
}

.c-label-value__value {
  color: $color-primary;
  font-size: $font-size-text-x-large;
  margin-left: 0;
}
